/* fonts */
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-BoldItalic.woff2') format('woff2'),
        url('../fonts/Gotham-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Black.woff2') format('woff2'),
        url('../fonts/Gotham-Black.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-BookItalic.woff2') format('woff2'),
        url('../fonts/Gotham-BookItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Book.woff2') format('woff2'),
        url('../fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-BookItalic.woff2') format('woff2'),
        url('../fonts/Gotham-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Light.woff2') format('woff2'),
        url('../fonts/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Light.woff2') format('woff2'),
        url('../fonts/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Medium.woff2') format('woff2'),
        url('../fonts/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-LightItalic.woff2') format('woff2'),
        url('../fonts/Gotham-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Medium.woff2') format('woff2'),
        url('../fonts/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Thin.woff2') format('woff2'),
        url('../fonts/Gotham-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-ThinItalic.woff2') format('woff2'),
        url('../fonts/Gotham-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-XLight.woff2') format('woff2'),
        url('../fonts/Gotham-XLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-UltraItalic.woff2') format('woff2'),
        url('../fonts/Gotham-UltraItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-MediumItalic.woff2') format('woff2'),
        url('../fonts/Gotham-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-XLightItalic.woff2') format('woff2'),
        url('../fonts/Gotham-XLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* css */
body {
	font-family: 'Gotham';
	background: #eff3fd;
	font-size: 1.2rem;
	color: #292c2d;
}

.container {
    max-width: 1140px;
    width: 100%;
}

h1 {
    font-size: 1.8rem;
    font-weight: 900;
}

h2 {
    font-size: 1.4rem;
    font-weight: 900;
}

.navbar {
	background:	#040b25 !important;
	padding: .6rem 1rem;
}
.navbar ul.navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.navbar .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

.navbar .navbar-brand img {
    height: 32px;
}

footer {
	padding-bottom: 30px;
}

footer p {
	font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 0px;
    color: #4a485d;
}

main > .container {
	padding-top: 30px;
}

.block {
    background: #ffffff;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 15px #dae2f0;
    margin-bottom: 30px;
    width: 100%;
}

.home .block {
    padding: 40px;
}

.home .col-md-6 {
    display: flex;
}

a.block {
    color: #292c2d;
    text-decoration: none;
}


/* Peak Registry */
.peak-registry .container {
	background-image: url(../images/peak-registry-bg.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 32% 100%;
}

.peak-registry .container .row, 
.peak-registry .container footer {
    position: relative;
    z-index: 99;
}

.purple-text {
	color: #90278e;
}

.light-blue-text {
    color: #0093ce;
}

main ul li {
	font-size: 1.2rem;
    color: #292c2d;
    font-weight: 400;
    display: list-item;
    list-style-type: disc;
}

/* Pipeline css */
.table {
    margin-bottom: 30px;
    background: #fff;
    border-radius: 15px;
}

.table .thead-dark th {
    color: #fff;
    background-color: #1d2a49;
    border-color: #1d2a49;
    font-size: 0.8rem;
    vertical-align: middle;
    font-weight: 400;
    line-height: 1rem;
    padding: 0.8rem 0.4rem;
}

.table .thead-dark th:first-child,
.table tbody:last-child td:first-child {
    border-radius: 15px 0 0 0;
}

.table .thead-dark th:last-child,
.table tbody:last-child td:last-child {
    border-radius: 0 15px 0 0;
}


.table tbody tr:first-child td {
    padding-top: 1.4rem;
}

.table tbody tr:last-child td {
    padding-bottom: 1.4rem;
}

.table .thead-dark th:first-child,
.table tbody tr td:first-child[rowspan="3"],
.table tbody tr td:first-child[rowspan="2"],
.table tbody tr td:first-child[rowspan="1"] {
    padding-left: 1.4rem;
}

.table .thead-dark th:last-child,
.table tbody tr td:last-child {
    padding-right: 1.4rem;
}


.table tbody+tbody {
    border-top: 0px;
}

.table td, .table th {
    padding: .4rem;
    border-top: 0;
}

.table td p {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1rem;
    display: inline-flex;
}

.table-body-green {
	background: #ebfff0;	
}

.table-body-blue {
	background: #e6f3fc;	
}

.pipeline-block {
    display: block;
    height: 40px;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1rem;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
}

.pipeline-block:hover {
    color: #fff;
    text-decoration: none;
}

.green-light {
	background: #b8dfcd;
}

.green-medium {
	background: #8ccfb0;
}

.green-dark {
	background: #52b279;
}

.blue-light {
	background: #a8d8ed;
}

.blue-medium {
	background: #78bee1;
}

.blue-dark {
	background: #45a5d3;
}

.red-dark {
    background: #ab1927;
}

.green-text {
	color: #00b06d;
}

.blue-text {
	color: #126f93;
}

.red-text {
    color: #ab1927;
}

/* pipeline details */

.pipeline-details h1 .activate {
    height: 24px;
    vertical-align: top;
    margin-top: 6px;
    margin-left: 15px;
}
.pl-20 {
    padding-left: 20px;
}

.badge {
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
    padding: 0.3rem 0.8rem;
    color: #fff;
}

.pipeline-details .block {
    border-radius: 15px;
}

.pipeline-details .block img {
    width: 100%;
    margin-bottom: 30px;
}

.pipeline-details .block p,
.pipeline-details .block ul li {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.2rem;
}

.pipeline-details .block p strong {
    font-weight: 900;
    font-size: 1rem;
}

.pipeline-details .side-block-container {
    padding: 0px;
}

.pipeline-details .block .side-block {
    display: block;
    padding: 30px;
}

.pipeline-details .block .side-block-gray {
    background: #f4f4f4;
}

.pipeline-details .block .side-block:last-child {
    border-radius: 0px 0px 15px 15px;
}